<h1>Contact Us</h1>

<%= form_for contact_path do |f| %>
<%= f.label :first_name, "first name" %>
<%= f.text_field(:first_name) %></br>
<%= f.label :email, "email" %>
<%= f.text_field(:email) %></br>
<%= f.label :your_message, "Your Message" %>
<%= f.text_area(:your_message) %>
<%= f.submit("Send") %>
<% end  %>