
<img class="product-image" src="<%= @product.image %>" width = "300">

<div class="products">
  <h1><%= @product.name %></h1>
  <article><%= @product.description %></article>

<h2>Price: $ <%= @product.price %> </h2>
<%= button_to "Add to Cart", basket_path, :method => "get" %>

