<div class="page-wrapper"/>
<img class="product-image" src="<%= @product.image %>" width = "300">

<div class="products">
  <h1><%= @product.name %></h1>
  <article><%= @product.description %></article>

  <h2>Price: $ <%= @product.price %> </h2>
  <h3>Quantity Left: <%= @product.on_hand%></h3>
    <%= button_to "Add to Cart", basket_path, :method => "get" %>
</div>

<!-- <g:plusone></g:plusone>

<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="TinyTe.es">Check out our TinyTe.es!</a>

<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>

<img src="http://l.yimg.com/hr/img/delicious.small.gif" height="10" width="10" alt="Delicious" />
<a href="http://www.delicious.com/save" onclick="window.open('http://www.delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"> Bookmark this on Delicious</a> -->