<!DOCTYPE html>
<html>
<head>
  <title>Tineetees</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <section id="branding">
    <%= image_tag("tineetee1.jpg")%>
  </section>

  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Account", account_path %></li>
      <li><%= link_to "Cart", basket_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if logged_in? %>
        <li><%= link_to("Log Out", "/session", method: "delete") %></li>  
      <% else %>
        <li><%= link_to("Log In","/session") %></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= yield %>

<footer>
  
</footer>

</body>
</html>
